header {
    display: flex;
    align-items: flex-start;
    background-color: $blue-1;
    padding-left: 30px;
}

.hedaer-item {
    margin: 15px 5px;
}

.label-date {
    text-align: end;
}

.label-btn {
    text-align: center;
}

.content-date {
    font-size: 250%;
}

.content-btn {
    margin-top: 5px;
    border-radius: 2px;
    width: 100px;
    text-align: center;
    background-color: $blue-2;
    padding: 5px 20px;
}

.hour {
    font-size: 150%;
}

.btn-inc-dec {
    cursor: pointer;
    color: #fff;
    background-color: $blue-dark;
    margin-top: 44px;
    font-size: 150%;
    text-align: center;
    border-radius: 2px;
    height: 27px;
    width: 27px;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow-webkit;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
        color: $font-color-main;
        background-color: $blue-2;
    }

    &:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    }
}

.btn-dec {
    margin-left: 40px;
}
