.times-container {
    padding: 15px;
    display: flex;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 155px);
    z-index: -10;
}


.time-div {
    border-right: 1px solid $time-div-border;
    height: 100%;
    flex-grow: 1;
    text-align: right;
    font-size: 70%;
    

    p {
        display: inline-block;
        position: relative;
        top: -35px;
        transform: translate(50%, 0%);

        .hour-number {
            font-size: 170%;
        }
    }
}

.time-div:first-child {
    flex-grow: 0;
    width: 315px;
}
