// A place for common settings that get reused
// They are defined here, but not actually used here
// e.g. Colours, padding, margin, etc

//***** FONT COLORS *****//
$font-color-main: #4F4F4F; // This is how to create variables

//***** APP COLORS *****//
$blue-0: rgb(194, 221, 255);
$blue-1: #E9F3FF;
$blue-2: #B5CEED;

$loader-blue: #3FA9E5;
$loader-green: #37BC6F;
$loader-red: #E54A4A;

$item-color-1: red;
$item-color-2: green;
$item-color-3: grey;
$item-color-4: blue;
$item-color-5: yellow;
$item-color-6: pink;
$item-color-7: purple;
$item-color-8: black;

$add-task: #126CE4;
$add-task-background: rgb(231, 241, 255);
$add-task-background-hover: rgb(201, 221, 250);
$add-deadline: #219653;
$add-deadline-background: #d6f8e3;
$add-deadline-background-hover: #b1ebc7;

//***** SHADDOW *****//
$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$box-shadow-webkit: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
