// A place for common settings that get reused
// They are defined here, but not actually used here
// e.g. Colours, padding, margin, etc

//***** FONT COLORS *****//
$font-color-main: #4F4F4F; // This is how to create variables

//***** APP COLORS *****//
$blue-0: rgb(194, 221, 255);
$blue-1: #E9F3FF;
$blue-2: #B5CEED;
$blue-hover: rgba(210, 230, 255, 0.4);
$blue-dark: rgb(71, 99, 133);

$loader-blue: #3FA9E5;
$loader-green: #37BC6F;
$loader-red: #E54A4A;

$item-color-1: #829399;
$item-color-2: #545F66;
$item-color-3: #5DA9E9;
$item-color-4: #9F86C0;
$item-color-5: #4AAD52;
$item-color-6: #F7ACCF;
$item-color-7: #F17300;
$item-color-8: #CC3F0C;

$time-div-border: #C5C5C5;

$add-task: #126CE4;
$add-task-background: rgb(231, 241, 255);
$add-task-background-hover: rgb(201, 221, 250);
$add-deadline: #219653;
$add-deadline-background: #d6f8e3;
$add-deadline-background-hover: #b1ebc7;

//***** SHADDOW *****//
$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$box-shadow-webkit: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
