// A place for common settings that get reused
// They are defined here, but not actually used here
// e.g. Colours, padding, margin, etc

//***** FONT COLORS *****//
$font-color-main: #4F4F4F; // This is how to create variables

//***** APP COLORS *****//
$blue-0: rgb(194, 221, 255);
$blue-1: #E9F3FF;
$blue-2: #B5CEED;
