* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility !important;
    color: $font-color-main; // This is how to import variables from ./base/settings
}

html {
    overflow-y: scroll; 
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}